@font-face {
	font-family: 'e-radio';
	src:url('../fonts/e-radio.eot?m9ewet');
	src:url('../fonts/e-radio.eot?#iefixm9ewet') format('embedded-opentype'),
		url('../fonts/e-radio.ttf?m9ewet') format('truetype'),
		url('../fonts/e-radio.woff?m9ewet') format('woff'),
		url('../fonts/e-radio.svg?m9ewet#e-radio') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'e-radio';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
	content: "\e600";
}
.icon-play:before {
	content: "\e601";
}
.icon-drawer:before {
	content: "\e602";
}
.icon-bubbles2:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e604";
}
.icon-users:before {
	content: "\e60a";
}
.icon-key:before {
	content: "\e605";
}
.icon-equalizer:before {
	content: "\e606";
}
.icon-cog:before {
	content: "\e607";
}
.icon-bin:before {
	content: "\e608";
}
.icon-cross:before {
	content: "\e60b";
}
.icon-enter:before {
	content: "\e609";
}
