    <div class="header-create-user">
        <div class="column-50">
            <form>
                <fieldset class="fake-input icon icon-user">
                    <input type="text" name="username" placeholder="Nombre" />
                </fieldset>
                <fieldset class="fake-input icon icon-user">
                    <input type="text" name="lastname" placeholder="Apellido" />
                </fieldset>
                <fieldset class="fake-input icon icon-key">
                    <input type="password" name="password" placeholder="Contraseña" />
                </fieldset>
                <fieldset>
                    <a class="btn submit-login">Crear Usuario</a>
                </fieldset>
            </form>
        </div> 
    </div>
    <div class="footer-login clearfix">
        <span class="align-left lostpassword">Perdio su contraseña?</span>
        <span class="align-rigth">No tiene cuenta? <a href="">Pídala aquí</a></span>
    </div>