    <div class="header-login">
        <div class="column-50">
            <form action="/login" method="post">
                <fieldset class="fake-input icon icon-user">
                    <input type="text" name="username" placeholder="Usuario" />
                </fieldset>
                <fieldset class="fake-input icon icon-key">
                    <input type="password" name="password" placeholder="Contraseña" />
                </fieldset>
                <fieldset>
                    <a class="btn submit-login">Entrar</a>
                </fieldset>
            </form>
        </div> 
        <div class="column-50">
            <h2>Bienvenido</h2>
            <p>Por favor complete sus datos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non bibendum tortor. Nulla nec aliquam felis, quis pretium lacus. Donec vulputate ut leo eget volutpat.</p>
        </div>
    </div>
    <div class="footer-login clearfix">
        <span class="align-left lostpassword">Perdio su contraseña?</span>
        <span class="align-rigth">No tiene cuenta? <a href="">Pídala aquí</a></span>
    </div>
